.articlePage {
  min-height: 100vh;
  background: #fff;
  position: relative;
}

.heroImage {
  width: 100%;
  height: 245px;
  background: no-repeat center / cover;
}

.contentContainer {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1290px;

  .content {
    background: #fff;
    padding: 35px 75px 50px;
    border-radius: 5px;
    box-shadow: 0 8px 24px #0000000d;

    .title {
      text-align: center;
      margin-bottom: 50px;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
    }
  }

  .backButton {
    display: inline-flex;
    margin-top: 35px;
    color: #363636;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: none;
  }
}

.articleBody {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  p {
    margin-bottom: 20px;
  }

  .articleSource {
    color: #000;
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
