.searchBar {
  background-color: white;
  max-width: 600px;
  box-shadow: 0px 8px 24px 0px #0000000d;
  border-radius: 5px;

  .inputRoot {
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: #eaeaea;
      transition: border-color 0.3s ease-in-out;
      border-width: 1px;
    }

    &:hover :global(.MuiOutlinedInput-notchedOutline) {
      border-color: #bdbdbd;
    }

    & :global(.Mui-focused .MuiOutlinedInput-notchedOutline) {
      border-width: 2px;
    }
  }
}
