.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 8px 24px 0px #0000000d;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }

  .cardMedia {
    object-fit: cover;
  }

  .cardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .dateBox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  :global(.MuiTypography-root) {
    &.dateText {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      opacity: 0.5;
    }

    &.title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 400;
      line-height: 100%;
    }

    &.description {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }

    &.readMore {
      margin-top: auto;
      padding-top: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
